VITE_PRODUCTION=true
VITE_DEV_SERVER=false
VITE_PROTOCOL=http
VITE_DOMAIN=localhost
VITE_BACKEND_PORT=3334
VITE_TRAEFIK=false
VITE_PRODUCTION_ADDRESS=http://localhost
VITE_LIT_PROJECT=
VITE_LIT_DOMAIN=
BASE_URL=/
